@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

:root {
 --background: #f5f1e6;
 --text: #872837;
 --radius: 0.8rem;
}

body {
 font-family: "Hedvig Letters Serif", serif;
}
